@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: url(./texture.png);
  background-color: #202225;
}

.emoji {
  font-family: 'Segoe UI Emoji' !important;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

header {
  padding: 21rem 0;
}

.title {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 6.4rem;
  font-weight: 500;
  color: #CCD8EF;
}
